<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>@ViewBag.Title - My ASP.NET Application</title>
  @Styles.Render("~/Content/css")
  @Scripts.Render("~/bundles/modernizr")
  <style>
    .navbar-nav .btn {
      margin-top: 1em;
    }
  </style>
</head>
<body>
  <div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        @Html.ActionLink("HPlus Sports", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
      </div>
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav"></ul>
        <ul class="nav navbar-nav pull-right">
          <li class="dropdown">
            @if (User.IsInRole(HPlusSports.Models.UserRoles.Admin))
            {
              <a class="dropbtn" href="@Url.Action("Index", "Inventory")">
                <i class="glyphicon glyphicon-list-alt"></i>
                Inventory
              </a>
            }
          </li>
          <li class="dropdown">
            @{
              var cart = HPlusSports.Application.Cart;
            }
            <a class="dropbtn nav-cart">
              <i class="glyphicon glyphicon-shopping-cart"></i>
              Cart
              @if (cart.Items.Any())
              {
                <span>
                  (@cart.Items.Count() items)
                </span>
              }
            </a>
            <div class="dropdown-content">

              <table class="table table-condensed">
                @foreach (var item in cart.Items)
                {
                  <tr style="vertical-align: middle">
                    <td>
                      <a href="@Url.Action("Remove", "Cart", new { id = item.Id })">
                        <i class="glyphicon glyphicon-remove"></i>
                      </a>
                    </td>
                    <td>
                      <img width="50" height="50" src="@Url.Action("Product", "Images", new { id = item.SKU })" alt="">
                    </td>
                    <td>
                      <a href="@Url.Action("Product", "Products", new { id = item.SKU })">
                        @item.Name
                      </a>
                    </td>
                    <td class="text-right">
                      @item.Quantity
                      x
                      @item.Price.ToString("C")
                    </td>
                  </tr>
                }
                <tr>
                  <th colspan="3" class="text-right">
                    Subtotal:
                  </th>
                  <th class="text-right">
                    @cart.Subtotal.ToString("C")
                  </th>
                </tr>
              </table>

              <p class="buttons text-right" ">
                <a href="@Url.Action("Index", "Cart")" class="btn btn-primary">View Cart</a>
              </p>
            </div>
          </li>
          <li>
            @if (User.Identity.IsAuthenticated)
            {
              <form method="post" action="@Url.Action("Logoff", "Account", new { area = "" })">
                @Html.AntiForgeryToken()
                <button type="submit" class="btn btn-xs btn-default">Logout</button>
              </form>
            }
            else
            {
              <div>
                <a href="@Url.Action("Login", "Account")" class="btn btn-xs btn-primary">Login</a>
              </div>
            }
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="container body-content">
    @RenderBody()
    <footer></footer>
  </div>

  @Scripts.Render("~/bundles/jquery")
  @Scripts.Render("~/bundles/bootstrap")
  <script type="text/javascript" src="~/Scripts/MvcPager.js"></script>
  @RenderSection("scripts", required: false)
</body>
</html>
