@using HPlusSports.Models
@model IEnumerable<HPlusSports.Models.Product>

@{
    var category = (Category)ViewData["Category"];
    ViewBag.Title = category.Name;
}

<h2>@ViewBag.Title</h2>

<div class="row">

    @foreach (var item in Model)
    {
        <div class="col-md-3 text-center">
            <p>
                <a href="@Url.Action("Product", "Products", new { id = item.SKU })">
                    <img class="img-thumbnail" src="@Url.Action("Product", "Images", new { id = item.SKU })" />
                    <span>@item.Name</span>
                </a>
            </p>
            <p>
                @Html.DisplayFor(modelItem => item.Summary)
            </p>
            <p>
                @Html.DisplayFor(modelItem => item.MSRP) -
                @Html.DisplayFor(modelItem => item.Price)
            </p>
            <p>
                @item.Rating
            </p>
            <p>
                @Html.ActionLink("Add to Cart", "Add", "Cart", new { item.SKU }, null)
            </p>
        </div>
    }

</div>
