@model HPlusSports.Models.Product

@{
    ViewBag.Title = Model.Name;
}

<h2>@ViewBag.Title</h2>

<div>
    <hr />
    <img class="pull-left" src="@Url.Action("Product", "Images", new { id = Model.SKU })" />

    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Category.Key)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Category.Key)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SKU)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SKU)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Summary)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Summary)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MSRP)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MSRP)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Rating)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Rating)
        </dd>

    </dl>

    @Html.ActionLink("Add to Cart", "Add", "Cart", new { Model.SKU }, null)


</div>